### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [142]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [143]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [144]:
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [145]:
#school_data_complete.count()

In [146]:
school_data_renamed = school_data_complete.rename(columns={'Student ID':'Student ID','student_name':'Student Name','gender':'Gender','school_name':'School Name','grade':'Grade','school_name':'School Name','reading_score':'Reading Score','math_score':'Math Score','School ID':'School ID','type':'Type','size':'Size','budget':'Budget'})
school_data_renamed.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [147]:
# school_data_renamed["School Name"].value_counts().head(20)
Total_Schools = school_data_renamed["School Name"].nunique()
print(Total_Schools)

15

In [148]:
Total_Students = school_data_renamed["Student Name"].count()
print(Total_Students)

39170

In [156]:
school_budgets = school_data_renamed['Budget'].unique()
school_budget_sum = school_budgets.sum()
school_budget_sum
print(school_budget_sum)

# hosted_in_us["goal"] = hosted_in_us["goal"].astype(float).map("${:,.2f}".format

24649428

In [150]:
avg_math_score = school_data_renamed['Math Score'].mean()
print(avg_math_score)

78.98537145774827

In [151]:
avg_reading_score = school_data_renamed['Reading Score'].mean()
print(avg_reading_score)

81.87784018381414

In [152]:
# avg_math_pass_perc = # of students scoring 70 or greater
math_pass_df = school_data_renamed.loc[school_data_renamed["Math Score"] > 69, :]
# math_pass_df.head()
math_pass_count = math_pass_df['Math Score'].count()
math_pass_percent = (math_pass_count / Total_Students)*100
print(math_pass_percent)

# avg_read_pass_perc
read_pass_df = school_data_renamed.loc[school_data_renamed['Reading Score'] > 69,:]
read_pass_count = read_pass_df['Reading Score'].count()
read_pass_percent = (read_pass_count / Total_Students)*100
print(read_pass_percent)

# percent overall pass rate
overall_pass_rate = (math_pass_percent + read_pass_percent) / 2
print(overall_pass_rate)

74.9808526933878
85.80546336482001
80.39315802910392

In [160]:
data = {'Total Schools':[Total_Schools],
        'Total Students':[Total_Students],
        'Total Budget':[school_budget_sum],
        'Average Math Score':[avg_math_score],
        'Average Reading Score':[avg_reading_score],
        '% Passing Math':[math_pass_percent],
        '% Passing Reading':[read_pass_percent],
        '% Overall Passing Rate':[overall_pass_rate]
       }
Summary_df = pd.DataFrame(data)
Summary_df['Total Students'] = Summary_df['Total Students'].map('{:,}'.format)
Summary_df['Total Budget'] = Summary_df['Total Budget'].map('${:,}'.format)
Summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428",78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [154]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [155]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.