### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [103]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [104]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [105]:
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [106]:
school_data_renamed = school_data_complete.rename(columns={'Student ID':'Student ID','student_name':'Student Name','gender':'Gender','school_name':'School Name','grade':'Grade','reading_score':'Reading Score','math_score':'Math Score','School ID':'School ID','type':'Type','size':'Total Students','budget':'Total School Budget'})

In [107]:
school_data_sorted = school_data_renamed.sort_values("School Name")
school_data_sorted.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Total Students,Total School Budget
19584,19584,Tammie Fox,F,11th,Bailey High School,82,92,7,District,4976,3124928
21193,21193,Jennifer Murray,F,9th,Bailey High School,88,89,7,District,4976,3124928
21192,21192,Lisa Pineda,F,9th,Bailey High School,86,67,7,District,4976,3124928
21191,21191,Cameron Miller,M,11th,Bailey High School,70,75,7,District,4976,3124928
21190,21190,Thomas Rasmussen,M,12th,Bailey High School,77,82,7,District,4976,3124928

In [108]:
# school_data_renamed["School Name"].value_counts().head(20)
Total_Schools = school_data_renamed["School Name"].nunique()
print(Total_Schools)

15

In [109]:
Total_Students = school_data_renamed["Student Name"].count()
print(Total_Students)

39170

In [110]:
school_budgets = school_data_renamed['Total School Budget'].unique()
school_budget_sum = school_budgets.sum()
school_budget_sum
print(school_budget_sum)

24649428

In [111]:
avg_math_score = school_data_renamed['Math Score'].mean()
print(avg_math_score)

78.98537145774827

In [112]:
avg_reading_score = school_data_renamed['Reading Score'].mean()
print(avg_reading_score)

81.87784018381414

In [113]:
# avg_math_pass_perc = # of students scoring 70 or greater
math_pass_df = school_data_renamed.loc[school_data_renamed["Math Score"] > 69, :]
# math_pass_df.head()
math_pass_count = math_pass_df['Math Score'].count()
math_pass_percent = (math_pass_count / Total_Students)*100
print(math_pass_percent)

# avg_read_pass_perc
read_pass_df = school_data_renamed.loc[school_data_renamed['Reading Score'] > 69,:]
read_pass_count = read_pass_df['Reading Score'].count()
read_pass_percent = (read_pass_count / Total_Students)*100
print(read_pass_percent)

# percent overall pass rate
overall_pass_rate = (math_pass_percent + read_pass_percent) / 2
print(overall_pass_rate)

74.9808526933878
85.80546336482001
80.39315802910392

In [114]:
data = {'Total Schools':[Total_Schools],
        'Total Students':[Total_Students],
        'Total School Budget':[school_budget_sum],
        'Average Math Score':[avg_math_score],
        'Average Reading Score':[avg_reading_score],
        '% Passing Math':[math_pass_percent],
        '% Passing Reading':[read_pass_percent],
        '% Overall Passing Rate':[overall_pass_rate]
       }
Summary_df = pd.DataFrame(data)
Summary_df['Total Students'] = Summary_df['Total Students'].map('{:,}'.format)
Summary_df['Total Budget'] = Summary_df['Total School Budget'].map('${:,}'.format)
print("District Summary")
Summary_df.head()

District Summary

,Total Schools,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Total Budget
0,15,"39,170",24649428,78.985371,81.87784,74.980853,85.805463,80.393158,"$24,649,428"

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [115]:
school_data_thin = school_data_sorted.drop(columns=['Student ID','Student Name','Gender','Grade','School ID'])
school_data_thin

,School Name,Reading Score,Math Score,Type,Total Students,Total School Budget
19584,Bailey High School,82,92,District,4976,3124928
21193,Bailey High School,88,89,District,4976,3124928
21192,Bailey High School,86,67,District,4976,3124928
21191,Bailey High School,70,75,District,4976,3124928
21190,Bailey High School,77,82,District,4976,3124928
...,...,...,...,...,...,...
24829,Wright High School,84,77,Charter,1800,1049400
24828,Wright High School,95,80,Charter,1800,1049400
24827,Wright High School,74,74,Charter,1800,1049400
24797,Wright High School,90,83,Charter,1800,1049400
26035,Wright High School,98,80,Charter,1800,1049400

In [116]:
school_size = school_data_thin.groupby('School Name')['Math Score'].count()
school_size

School Name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Math Score, dtype: int64

In [117]:
passing_math = school_data_thin.loc[school_data_thin["Math Score"] > 69]
math_gpd = passing_math.groupby('School Name')['Math Score'].count()
math_gpd
math_perc_pass = (math_gpd / school_size)*100
math_perc_pass

School Name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Math Score, dtype: float64

In [118]:
passing_reading = school_data_thin.loc[school_data_thin["Reading Score"] > 69]
reading_gpd = passing_reading.groupby('School Name')['Reading Score'].count()
reading_gpd
reading_perc_pass = (reading_gpd / school_size)*100
reading_perc_pass

School Name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [119]:
overall_pass = (math_perc_pass + reading_perc_pass)/2
overall_pass

School Name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [120]:
avg_math = school_data_thin.groupby('School Name')['Math Score'].mean()
avg_math

School Name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: Math Score, dtype: float64

In [121]:
avg_reading = school_data_thin.groupby('School Name')['Reading Score'].mean()
avg_reading

School Name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: Reading Score, dtype: float64

In [122]:
school_data_renamed.head(3)

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Total Students,Total School Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635

In [123]:
per_stu_budget = org_school_data.groupby('School Name')['Total School Budget'].mean() / org_school_data.groupby('School Name')['Total Students'].mean()
per_stu_budget

School Name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [124]:
org_school_data = school_data_sorted[['School Name','Type','Reading Score','Math Score', 'Total Students', 'Total School Budget','Student ID', 'Student Name','Gender', 'Grade','School ID']]
org_school_data.head(3)

,School Name,Type,Reading Score,Math Score,Total Students,Total School Budget,Student ID,Student Name,Gender,Grade,School ID
19584,Bailey High School,District,82,92,4976,3124928,19584,Tammie Fox,F,11th,7
21193,Bailey High School,District,88,89,4976,3124928,21193,Jennifer Murray,F,9th,7
21192,Bailey High School,District,86,67,4976,3124928,21192,Lisa Pineda,F,9th,7

In [183]:
school_type = type_df.drop_duplicates('School Name')
school_type.head(15)
school_type2 = school_type.set_index('School Name')
#school_type2 = school_type['School Name']
school_type2

                           Type
School Name
Bailey High School     District
Cabrera High School     Charter
Figueroa High School   District
Ford High School       District
Griffin High School     Charter
Hernandez High School  District
Holden High School      Charter
Huang High School      District
Johnson High School    District
Pena High School        Charter
Rodriguez High School  District
Shelton High School     Charter
Thomas High School      Charter
Wilson High School      Charter
Wright High School      Charter

In [153]:
#school_type.set_index('School Name', inplace=True)
#school_type

In [142]:
total_school_budget = org_school_data.groupby('School Name')['Total School Budget'].mean()
total_school_budget

School Name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: Total School Budget, dtype: int64

In [185]:
Summary_Schools_df = pd.DataFrame(columns=[])
#Summary_Schools_df['School Type'] = school_type2
Summary_Schools_df['Total Students'] = school_size
Summary_Schools_df['Total School Budget'] = total_school_budget
Summary_Schools_df['Per Student Budget'] = per_stu_budget
Summary_Schools_df['Average Math Score'] = avg_math
Summary_Schools_df['Average Reading Score'] = avg_reading
Summary_Schools_df['% Passing Math'] = math_perc_pass
Summary_Schools_df['% Passing Reading'] = reading_perc_pass
Summary_Schools_df['Overall Passing Rate'] = overall_pass_rate


#Summary_Schools_df['Total Students'] = Summary_df['Total Students'].map('{:,}'.format)
#Summary_Schools_df['Total School Budget'] = Summary_df['Total School Budget'].map('${:,}'.format)
#Summary_Schools_df['Per Student Budget'] = Summary_df['Per Student Budget'].map('${:,}'.format)
Summary_Schools_df.head(15)

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,
Bailey High School,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,80.393158
Cabrera High School,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,80.393158
Figueroa High School,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,80.393158
Ford High School,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,80.393158
Griffin High School,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,80.393158
Hernandez High School,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,80.393158
Holden High School,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,80.393158
Huang High School,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,80.393158
Johnson High School,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,80.393158
Pena High School,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,80.393158
Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,80.393158
Shelton High School,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,80.393158
Thomas High School,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,80.393158
Wilson High School,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,80.393158
Wright High School,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,80.393158

In [188]:
Summary_Schools_df['Type'] = school_type2
Summary_Schools_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,Type
School Name,,,,,,,,,
Bailey High School,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,80.393158,District
Cabrera High School,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,80.393158,Charter
Figueroa High School,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,80.393158,District
Ford High School,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,80.393158,District
Griffin High School,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,80.393158,Charter
Hernandez High School,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,80.393158,District
Holden High School,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,80.393158,Charter
Huang High School,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,80.393158,District
Johnson High School,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,80.393158,District
Pena High School,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,80.393158,Charter
Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,80.393158,District
Shelton High School,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,80.393158,Charter
Thomas High School,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,80.393158,Charter
Wilson High School,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,80.393158,Charter
Wright High School,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,80.393158,Charter

In [ ]:
org_school_data['Per Student Budget'] = org_school_data['Total School Budget'] / org_school_data['Total Students']
org_school_data

In [ ]:
per_student_budget = org_school_data.groupby(['School Name'])['Per Student Budget']
per_student_budget.head()

In [ ]:
math_groupbyCOUNT = school_data_sorted.groupby(['School Name'])["Math Score"].count()
math_groupbyCOUNT

In [ ]:
reading_groupbyCOUNT = school_data_sorted.groupby(['School Name'])["Reading Score"].count()
reading_groupbyCOUNT

In [ ]:
average_math = school_data_sorted.groupby(['School Name'])["Math Score"].mean()
average_math

In [ ]:
average_reading = school_data_sorted.groupby(['School Name'])["Reading Score"].mean()
average_reading

In [ ]:
# proof above works....
groupbyMEAN = school_data_sorted.groupby(['School Name']).mean()
groupbyMEAN

In [ ]:
passing_math = org_school_data.loc[org_school_data["Math Score"] > 69, ["School Name", "Math Score"]]
passing_math.head()
math_passCOUNT = passing_math.groupby(['School Name'])["School Name"].count()
math_passCOUNT

In [ ]:
percent_math_pass = (math_passCOUNT / math_groupbyCOUNT)*100
percent_math_pass

In [ ]:
passing_reading = org_school_data.loc[org_school_data["Reading Score"] > 69, ["School Name", "Reading Score"]]
passing_reading.head()
reading_passCOUNT = passing_reading.groupby(['School Name'])["School Name"].count()
reading_passCOUNT

In [ ]:
percent_reading_pass = (reading_passCOUNT / reading_groupbyCOUNT)*100
percent_reading_pass

In [ ]:
overall_pass_rate = (percent_math_pass + percent_reading_pass)/2
overall_pass_rate

In [ ]:
School_Summary_df = pd.DataFrame(columns=[])
School_Summary_df['Average Math Score'] = average_math
School_Summary_df['Average Reading Score'] = average_reading
School_Summary_df['% Passing Math'] = percent_math_pass
School_Summary_df['% Passing Reading'] = percent_reading_pass
School_Summary_df['Overall Passing Rate'] = overall_pass_rate

School_Summary_df.head(15)

In [ ]:
School_Summary_df.reset_index(level=0, inplace=True)
School_Summary_df

In [ ]:
merge_table = pd.merge(org_school_data,School_Summary_df, on="School Name",how="right")
merge_table

In [ ]:
thin_school_df = merge_table.drop(columns=['Reading Score', 'Math Score', 'Student ID', 'Student Name', 'Gender','Grade','School ID'])
thin_school_df

In [ ]:
School_Summary = thin_school_df.drop_duplicates()
School_Summary2 = School_Summary.set_index('School Name')
print("School Summary")
School_Summary2

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [ ]:
top_schools = School_Summary2.sort_values(
    ["Overall Passing Rate"], ascending=False)
top_schools.head(5)

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
worst_schools = School_Summary2.sort_values(
    ["Overall Passing Rate"], ascending=True)
worst_schools.head(5)

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
org_school_data.head(5)

In [ ]:
grade9 = org_school_data.loc[org_school_data["Grade"] == "9th"]
grade10 = org_school_data.loc[org_school_data["Grade"] == "10th"]
grade11 = org_school_data.loc[org_school_data["Grade"] == "11th"]
grade12 = org_school_data.loc[org_school_data["Grade"] == "12th"]
grade12.head(5)

In [ ]:
grade9_math = grade9.groupby('School Name')['Math Score'].mean()
grade9_math
grade10_math = grade10.groupby('School Name')['Math Score'].mean()
grade10_math
grade11_math = grade11.groupby('School Name')['Math Score'].mean()
grade11_math
grade12_math = grade12.groupby('School Name')['Math Score'].mean()
grade12_math

In [ ]:
math_grades_df = pd.DataFrame(columns=[])
math_grades_df['9th Grade'] = grade9_math
math_grades_df['10th Grade'] = grade10_math
math_grades_df['11th Grade'] = grade11_math
math_grades_df['12th Grade'] = grade12_math
print("Average Math Scores by Grade")
math_grades_df

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
grade9_reading = grade9.groupby('School Name')['Reading Score'].mean()
grade10_reading = grade10.groupby('School Name')['Reading Score'].mean()
grade11_reading = grade11.groupby('School Name')['Reading Score'].mean()
grade12_reading = grade12.groupby('School Name')['Reading Score'].mean()
grade12_reading

In [ ]:
reading_grades_df = pd.DataFrame(columns=[])
reading_grades_df['9th Grade'] = grade9_reading
reading_grades_df['10th Grade'] = grade10_reading
reading_grades_df['11th Grade'] = grade11_reading
reading_grades_df['12th Grade'] = grade12_reading
print("Average Reading Scores by Grade")
reading_grades_df

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
School_Summary2.head(5)

In [ ]:
School_Summary2["Spending per Student"] = pd.cut(School_Summary2["Per Student Budget"], spending_bins, labels=group_names)
School_Summary2

In [ ]:
spending_perf_thin = School_Summary2.drop(columns=['Type', 'Total Students', 'Total School Budget', 'Per Student Budget'])
spending_perf_thin

In [ ]:
spend_grps = spending_perf_thin.groupby('Spending per Student').mean()
print("Scores by Spending per Student")
spend_grps

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names2 = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
School_Summary2["School Size"] = pd.cut(School_Summary2["Total Students"], size_bins, labels=group_names2)
School_Summary2

In [ ]:
size_perf_thin = School_Summary2.drop(columns=['Type', 'Total Students', 'Total School Budget', 'Per Student Budget'])
size_perf_thin

In [ ]:
size_grps = size_perf_thin.groupby('School Size').mean()
print("Scores by School Size")
size_grps

## Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
summ_thin = School_Summary2.drop(columns=['Total Students', 'Total School Budget', 'Per Student Budget','Spending per Student','School Size'])
summ_thin.head(5)

In [ ]:
type_perf = summ_thin.groupby('Type').mean()
print("Scores by School Type")
type_perf